h1{
        color: purple; border: 5px solid gray; align-items: center; text-align: center;
    }
 h2{
        color: blue; border: 6px  solid seagreen; align-items: center; text-align: center; font-size: 50px;
    }
h3{
   color: brown; border: 6px saddlebrown; align-items: center; text-align: center;font-size: 50px; 
}
h4{
    color: red; border: 6px rgb(138, 38, 27) ; align-items: center; text-align: center;font-size: 50px;
}
h5{
    color: aquamarine; border: 6px rgb(48, 62, 122); align-items: center; text-align: center;font-size: 50px;
}
h6{
  color: rgb(136, 143, 39); border: 6px slategray; align-items: center; text-align: center;font-size: 50px;  
}